* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.section {
	height: 100vh;
	padding: 1em;
	position: relative;
	z-index: 1;
}

.canvas {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 0;
}
